@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section {
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    transition: background 0.5s;
}

.wrapper {
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: #fff;
    margin: 50px;
    box-sizing: 0 35px 55px rgba(0, 0, 0, 0.1);
}

section.dark .right_Side {
    background: #323840;
}

.left_Side {
    position: relative;
    background: #003147;
    padding: 40px;
    max-width: 1320px;
}

section.dark .left_Side {
    background: #263339;
}

.right_Side {
    position: relative;
    background: #fff;
    padding: 40px;
}

section.dark .right_Side {
    color: #263339;
}

.profileText {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.profileText .imgBx {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.profileText .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profileText h2 {
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}

section.dark .profileText h2 {
    color: #ccc;
}

.profileText h2 span {
    font-size: 0.8em;
    font-weight: 300;
}

.contactInfo {
    padding-top: 40px;

}

.title {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.contactInfo ul {
    position: relative;
}

.contactInfo ul li {
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}

.contactInfo ul li .icon {
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #03a9f4
}

.contactInfo ul li span {
    color: #fff;
    font-weight: 300;
}

.contactInfo.education li {
    margin-bottom: 15px;
}

.contactInfo.education h5 {
    color: #03a9f4;
    font-weight: 500;
}

.contactInfo.education h4:nth-child(2) {
    color: #fff;
    font-weight: 500;
}

.contactInfo.education h4 {
    color: #fff;
    font-weight: 300;
}

.contactInfo.language .percent {
    position: relative;
    width: 100%;
    height: 6px;
    background: #081921;
    display: block;
    margin-top: 5px;
}

.contactInfo.language .percent label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #03a9f4;
}



.about {
    padding-bottom: 50px;
}

.about:last-child {
    margin-bottom: 0;
}

.title2 {
    color: #003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

section.dark .title2 {
    color: #0273a7;
}

p {
    color: #333;
}

section.dark p {
    color: #ccc;
}


.about .box {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.about .box .year_company {
    min-width: 150px;
}

.about .box .year_company h5 {
    text-transform: uppercase;
    color: #848c90;
    font-weight: 600;
}

.about .box .text h4 {
    text-transform: uppercase;
    color: #2a7da2;
    font-size: 16px;
}

.skills .box {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
}

.skills .box h4 {
    text-transform: uppercase;
    color: #848c90;
    font-weight: 500;
}

.skills .box .percent {
    position: relative;
    width: 100%;
    height: 10px;
    background: #f0f0f0;
}

.skills .box .percent label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #03a9f4;
}

.interest ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.interest ul li {
    list-style: none;
    color: #333;
    font-weight: 500;
    margin: 10px 0;
}

section.dark .interest ul li {
    color: rgb(165, 163, 163);
}

.interest ul li .fa {
    color: #03a9f4;
    font-size: 18px;
    width: 20px;
}

footer aside{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    padding: 20px;
    background: #87bbec;
    bottom: 0;
}

footer aside a {
    text-decoration: none;
}

footer aside .github-icon {
    margin-right: 10px;
}

.my-github {
    display: flex;
    align-items: center;
}

@media (max-width: 1000px) {

    nav li {
        flex-direction: column;
    }

    section {
        margin: 10px;
        grid-template-columns: repeat(1, 1fr);
        overflow-x: hidden;
    }

    .interest ul {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .about .box {
        flex-direction: column;
    }

    .about .box .year_company {
        margin-bottom: 5px;
    }

    .interest ul {
        grid-template-columns: repeat(1, 1fr);
    }

    .skills .box {
        grid-template-columns: repeat(1, 1fr);
    }
}

.toggle {
    top: 20px;
    right: 20px;
    background: #e9f5ff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

section.dark .toggle {
    background: #404852;
}

.toggle::before {
    content: '\f186';
    font-family: fontAwesome;
    color: #2fa1ff;
}

section.dark .toggle:before {
    content: '\f185';
    color: #fff;
}

section.dark {
    background: #242924;
}

pre {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0px;
}

.cv_code {
    overflow: auto;
    background-color: #3b3b3b;
    color: #ffffff;
    padding: 0 20px;
}

section.dark .cv_code {
    background-color: #ffffff;
    color: #3b3b3b;
}

.container {
    max-width: 1180px;
    margin: 0px auto;
    padding: 0px 10px;
}

.header {
    width: 100%;
    z-index: 50;
}

.header_body {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.header_list {
    display: flex;
}

.header_list li {
    list-style: none;
    margin: 0px 0px 0px 30px;
}

.header_link {
    color: black;
    text-transform: uppercase;
    font-size: 15px;
    text-decoration: none;
}

.header_burger {
    display: none;
}

.back_to_top{
    position: fixed;
    right: 250px;
    bottom:150px;
    width: 50px;
    height: 50px;
    border-color: transparent;
    border-radius: 50%;
    background-color: #2fa1ff;
    display:none;
}

.back_to_top:hover,
.back_to_top:focus {
    filter: brightness(1.5);
    outline: none;
}

.back_to_top::before,
.back_to_top::after{
    content: '';
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.back_to_top::before {
    width: 5px;
    height: 25px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color:#f5f0f6;
}

.back_to_top::after{
    width: 15px;
    height: 15px;
    transform: translate(-50%, -50%) rotate(45deg);
    border-top: 5px solid #f5f0f6;
    border-left: 5px solid #f5f0f6;
}

.iframe-contaner{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}

.iframe-contaner iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}